<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Thank you for joining Homie.</h1>
  <p>Please email us at <a href="mailto:info@movehomie.com">info@movehomie.com</a> with any questions or concerns.</p>
  <p>Team Homie</p>
</body>
</html>