<div class="card">
  <div class="card-body">
    <strong><%= notification.content %></strong>
    <span class="float-right"><%= notification.created_at.to_formatted_s(:short) %></span>
  </div>
</div>
