<div class="card card-default">
  <div class="card-body">
    <div class="container" id="notifications">
      <% if @notifications.count > 0 %>
      	<%= render @notifications %>
      <% else %>
      	<p>You don't have new notification!</p>
      <% end %>
      
    </div>
  </div>
</div>
