
  <% @property.images.each do |image| %>
    <span><%= image_tag image %> <a href="<%= delete_image_attachment_property_path(image.id) %>" class="remove-image-btn" data-method="delete"><%= image_tag 'close.png' %></a></span>
    
  <% end %>

