<h1>Your request was created successfully.</h1>
<p>You can view it by clicking the following link.
<a href="<%= request_url(@request) %>"><%= request_url(@request) %></a></p>
<p>You will receive an email when you a landlord accepts your request.</p>
<p>Please email us at info@movehomie.com with any questions or concerns.</p>
<p>Team Homie</p>
