<h1>Your request was successfuly created!</h1>
<p>
  You can view it by next link <a href="<%= request_url(@request) %>"><%= request_url(@request) %></a> <br>
</p>
<p>Thanks for using our service and have a great day!</p>