<section class="page-not-found-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Page not found :(</h1>
				<div class="not-found-img-sec">
					<%= image_tag '404.png' %>
				</div>
				<p>Sorry, we can’t find the page you are looking for</p>
				<div class="back-to-home-btn-sec">
					<a href="#" class="primary-btn arrow-rt">Back to Home</a>
				</div>
			</div>
		</div>
	</div>
</section>