<h1>You have recieved new message from <%= @message.user.email %></h1>
<div>
  Message conent is next:
  <%= @message.context %>
</div>
<p>Go to your conversation with user <%= conversation_messages_url(@conversation) %></p>