<h1>Your property has new request matching!</h1>
<p>
  You can view it by next link <a href="<%= property_url(@property) %>"><%= property_url(@property) %></a> <br>
</p>
<p>Thanks for using our service and have a great day!</p>